<% @items.each do |item| %>
  <section id="ordered_item-<%= item.id %>">  
    <p><%= link_to "#{item.name}", item_path(item) %></p>
    <p>Price <%= item.current_price %></p>
    <p>Quantity ordered: <%= item.amount_ordered(@order) %></p>
  </section>
<% end %>
