#cart-actions {
  margin-top: 20px;
  padding-left: 15px;
  font-size: 26px;
}

#cart-actions div, #cart-actions form {
  display: inline-block;
}

#cart-actions button,
#cart-actions input[type="submit"],
#cart-actions input[type="button"] {
  margin: 5px 20px;
  font-size: 1em;
}

#checkout {
  font-size: 0.66em;
}

.cart-table {
  background-color: #FFFFFF;
  padding: 10px;
}

.cart-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  border-top: 1px solid #CCCCCC;
}

.cart-row div {
  flex-grow: 1;
}

.cart-row:first-child {
  border-top: 0;
}

.cart-row > div > * {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
}

.cart-row img {
  object-fit: contain;
}

.item-name, .item-merchant {
  min-width: 180px;
}

.item-price, .item-subtotal {
  min-width: 60px;
}
