main > form {
  .textarea-label, .textarea-label::after {
    vertical-align: top;
  }

  label {
    display: inline-block;
    text-align: right;
    min-width: 150px;
  }

  label::after {
    content: ':';
  }

  p {
    margin: 0;
  }

  textarea {
    width: calc(100% - 155px);
    height: 150px;
    box-sizing: border-box;
  }

  input[name="item[current_price]"]::before {
    content: '$';
    display: inline-block;
    width: 15px;
  }
}
