html, body {
  margin: 0;
  padding: 0;
  background-color: #F4F4F4;
  font-family: 'Mukta', sans-serif;
}

a {
  text-decoration: none;
}

body > div.alert {
    margin: 65px 15px -65px;
}

main.shadowed-box {
  padding: 10px;
}

.shadowed-box {
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
  background-color: #FFFFFF;
}

.index-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  margin: 5px;
  box-sizing: border-box;
  padding: 10px;
  background-color: #FFFFFF;
}

input[type="submit"], input[type="button"] {
  display: inline-block;
  border-radius: 2px;
  font-family: 'Mukta', sans-serif;
  font-size: 0.8em;
  padding-top: 3px;
}
