.item-list .item-card {
  flex-basis: 220px;
}

.item-card h3 {
  text-align: center;
}

.item-card img {
  margin: 0 40px;
  object-fit: contain;
}

.item-show {
  background-color: #FFFFFF;
  padding: 20px 10px;
}

.item-show img {
  object-fit: contain;
  margin-right: 15px;
}

.item-details {
  position: absolute;
  top: 120px;
  display: inline-block;
  width: calc(100% - 515px)
}

.item-show h1 {
  font-size: 2em;
}

.item-details *, .item-card * {
  margin: 0;
}

.item-details::before {
  content: '';
  display: inline-block;
  border-left: 1px solid #666666;
  width: 15px;
  height: calc(100% + 60px);
  position: absolute;
  top: -30px;
  left: -8px;
}
