.item-list .item-card {
  flex-basis: 220px;
}

.item-card h3 {
  text-align: center;
}

.item-card img {
  margin: 0 40px;
  object-fit: contain;
}

.item-show {
  background-color: #FFFFFF;
  padding: 20px 10px;
  min-height: 500px;
}

.item-show img {
  object-fit: contain;
  margin-right: 15px;
  float: left;
}

.item-details {
  margin: 120px 0 10px;
}

.item-show h1 {
  font-size: 2em;
}

.item-details *, .item-card * {
  margin: 0;
}

.item-details::before {
  content: '';
  display: inline-block;
  border-left: 1px solid #666666;
  height: 400px;
  position: absolute;
  top: 120px;
  left: 518px;
}
