.main-nav {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #FFFFFF;
}

.main-nav a {
  display: inline-block;
  padding: 10px 15px;
  color: #000000;
}

.main-nav a:visited {
  color: #666666;
}

.main-nav a:hover {
  background-color: #DDDDDD;
  color: #000000;
}

.main-nav .nav-right {
  display: inline-block;
  position: absolute;
  right: 0px;
}

.main-nav a.home-link {
  background-color: #DD0000;
  color: #FFFFFF;
}

.main-nav a.home-link:hover {
  background-color: #BB0000;
  color: #FFFFFF;
}

main {
  margin: 65px 15px 10px;
  position: relative;
}
