.merchant-card {
  h3 {
    text-align: center;
  }

  * {
    margin: 0;
  }
}

.user-profile {
  label {
    display: inline-block;
    min-width: 150px;
    text-align: right;
  }

  label:after {
    content: ':';
  }

  input[type="submit"] {
    margin-left: 155px;
  }

  a.edit {
    margin-right: 15px;
  }
}

.user-profile p,
.user-profile h1 {
  margin: 0;
}

.user-id::before {
  content: 'User ID #';
}

.merchant-stats {
  padding: 0px;

  #top-states,
  #top-cities,
  #top-users-money {
    li {
      width: 33%;
    }
  }

  .top-stats {
    li {
      display: list-item;
      list-style-type: unset;
      margin-left: 20px;
      width: 100%;
    }
  }

  h3 {
    margin: 15px 0 0;
  }
}

.merchants-orders-index {
  & > h2 {
    margin: 30px 0 0;
  }
}
